<div class="aa">
    <p>ABOUT</p>
   </div> 
<div class="aboutue">
<div class="hidariue">
<h2 style="line-height: 80px;">おすすめの和歌診断</h2>
<p>和歌が好き、興味があるという人はもちろん、</p><br>
<p>和歌はあまり知らない、興味ない...そんな人にも</p>
<br>2つの質問からあなたにおすすめの和歌を診断します<br>

<br>もしかするとあなたの心に残る一首が見つかるかも？<br>

<br><p><%= link_to "診断ページへ", tweets_path %></P>
<br>

</div>
<div class="hako1"><%= image_tag '黄色い花.jpg' ,size: '410x400', class: "aboutsyasin1" %>
</div>
</div>

<br>
<br>
<div class="aboutmannaka">
    <div class="hako2"><%= image_tag '藤の花.jpg' ,size: '370x500', class: "aboutsyasin2" %></div>
    <div class="migishita">
        <h2 style="line-height: 80px;">お気に入りの和歌投稿 </h2>
        <br>
        なんかいいなと思った和歌を投稿するもよし、<br>
        <br>和歌診断で出会った和歌を投稿するもよし<br>
        
        <br>他の人の投稿は「投稿一覧」から見ることが出来ます<br>
        <br>あなたのお気に入りの和歌は見つかりましたか？<br>
        <br><br>
        <p>（投稿した和歌の編集、削除は「マイページ」から）</P>
        <p>※投稿には新規登録/ログインが必要となります</P>
        <br>
        <p><%= link_to "投稿ページへ", new_toukou_path %></P>
        <br>



    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="aboutshita">
<h3 style="text-align: center;">【参考文献】（和歌本文は以下の文献に拠る）</h3>
 <div class="shita">・小島憲之、木下正俊、東野治之校注・訳『新編日本古典文学全集7 萬葉集2〈全4冊〉』（小学館、1995年4月10日） </div>
 <div class="shita">・佐竹昭広、山田英雄、工藤力男、大谷雅夫、山崎福之校注・訳『新日本古典文学大系4 萬葉集四』（株式会社岩波書店、2003年10月30日） </div>
 <div class="shita">・小沢正夫、松田成穂校注・訳『新編日本古典文学全集11 古今和歌集』（小学館、1994年11月20日） </div>
 <div class="shita">・峯村文人校注・訳『新編日本古典文学全集43 新古今和歌集』（小学館、1995年5月10日） </div>
</div>

