.toukou {
width: 70%;
    border: groove thin black;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
    font-size:19px;
 
  }

  .link{
  margin-left: 15%;
  font-size: 25px;
  }
  .toukous-container{
   
    margin: 1%;
    
  }

  .wakaichiran {
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
    font-size:19px;
 margin-left: 2%;
  }
  .ichiransyasin {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
  }