.sign{
    text-align: center;
      padding: 1%;
      margin: 0%;
    font-family: "Shippori Mincho B1", serif;
  font-style: normal;
  font-size: 30px;
  font-weight: medium;
  
    }

    .signup{
        text-align: center;
          padding: 1%;
          margin: 0%;
          margin-top: 0%;
          margin-bottom: 3%;
        font-family: "Shippori Mincho B1", serif;
      font-style: normal;
      font-size: 20px;
      font-weight: medium;
        
        }

        .signsign{
            text-align: center;
              padding: 0%;
              margin: 7%;
            font-family: "Shippori Mincho B1", serif;
          font-style: normal;
          font-size: 20px;
          font-weight: medium;   }