.taitoru {
 margin-top: 2%;
    text-align: center;
    padding: 1.5%;
    margin: 0 auto;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-size:15px;
    border-bottom: double;
    width: 6%;
  
  }

.kanajyo{
 
    text-align: center;
    background-image: url("kanajyo.jpg");
    height: 490px;
   
    padding: 1%;
    margin: 1%;
      font-family: "Shippori Mincho B1", serif;
      font-weight: 450;
      font-style: normal;
      background-size:cover
      
    
  }
  .toumei{
    height: 490px;
    
    background-color: rgba(255, 255, 255, 0.562);
  }
  h2{
    line-height: 200px;
    color: rgb(15, 14, 14);
    font-size: 30px
  }

  .kyouno {
    border: double medium #98909f;
    justify-content: space-around;
    display: flex;
    padding: 2%;
    margin: 2%;

      font-family: "Shippori Mincho B1", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;

    
  }

  .daimei {

    padding: flex;
    align-items: center;
    margin: 0%;
      font-family: "Shippori Mincho B1", serif;
      font-weight: 400;
      font-style: normal;

    
  }

