// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.shindan {
    margin: 3px auto;
    font-size: 25px;
    margin-bottom: 3%;
    width: 100%;
   padding: 5px;
    text-align: center;
    background-color: #c4d3de;
    padding-bottom: 3%;
  }

  .field {
    font-size: 28px;
    font-weight: medium;
}
.botan
{
    font-size: 25px;
}



  .syasin2{
  background-image: url(赤金魚左向き.png);
  position: fixed;
right: 0%;
bottom: 0%;
z-index: -1;
  opacity: 0.45;
}
.syasin3{
  background-image: url(赤金魚右向き.png);
  position: fixed;
left: 10%;
bottom: 50%;

z-index: -1;
  opacity: 0.45;
}


  .btn-flat-dashed-border {
    text-align: center;
    border: none;
    background-color: transparent;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #0d0f0f;
    border: dashed 1px #111212;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-dashed-border:hover {
    border-style: dotted;
    color: #f0f4f7;
  }
 
  .kekka{
    text-align: center;
   
  }