.field7{
     font-size: 25px;
     text-align: center;
    }

.f{
    text-align: center;
    font-size: 25px;
    }
.modoru3{
    margin-left: 5%;
    margin-bottom: 4%;
    font-size: 25px;
    }
    .field6{
       margin: 5%;
        font-size: 23px;
        }

.kesu{
 margin-left: 5%;
    font-size: 25px;
    }
